# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class
*.o


# Distribution / packaging
.cache/
build/
dist/
datatable/lib/
*.egg-info/


# Coverage reports
pycov/
ccov/
.coverage
coverage.xml
coverage.info
.benchmarks


# Sphinx documentation
docs/_build/


# IPython Notebook
.ipynb_checkpoints


# Project managers
.idea/*
!.idea/inspectionProfiles
*.sublime-*


# Landfill area
temp/


# Microbenchmarks
microbench/sort/sort
microbench/writecsv/writecsv
microbench/fread/fread
