dist: bionic
language: python

jobs:
  include:
    - name: "Python 3.6 on Linux with LLVM7"
      python: 3.6
      before_install:
        - ( test -f $CXX ) || ( wget -O llvm7.tar.xz "http://releases.llvm.org/7.0.1/clang+llvm-7.0.1-x86_64-linux-gnu-ubuntu-16.04.tar.xz" && mkdir -p "$LLVM7" && tar xf llvm7.tar.xz -C "$LLVM7" --strip-components 1 )
      env:
        - LLVM7=$HOME/LLVM7
        - LD_LIBRARY_PATH=$LLVM7/lib:$LD_LIBRARY_PATH
        - LD_PRELOAD=/lib/x86_64-linux-gnu/libSegFault.so
        - SEGFAULT_SIGNALS=all
        - DT_HARNESS=Travis
        - DT_BUILD_DOCS=1
        - CXX=$LLVM7/bin/clang-7

    - name: "Python 3.7 on Linux with LLVM10"
      python: 3.7
      before_install:
        - ( test -f $CXX ) || ( wget -O llvm10.tar.xz "https://github.com/llvm/llvm-project/releases/download/llvmorg-10.0.0/clang+llvm-10.0.0-x86_64-linux-gnu-ubuntu-18.04.tar.xz" && mkdir -p "$LLVM10" && tar xf llvm10.tar.xz -C "$LLVM10" --strip-components 1 )
      env:
        - LLVM10=$HOME/LLVM10
        - LD_LIBRARY_PATH=$LLVM10/lib:$LD_LIBRARY_PATH
        - LD_PRELOAD=/lib/x86_64-linux-gnu/libSegFault.so
        - SEGFAULT_SIGNALS=all
        - DT_HARNESS=Travis
        - CXX=$LLVM10/bin/clang-10

    - name: "Python 3.8 on Linux with LLVM10"
      python: 3.8
      before_install:
        - ( test -f $CXX ) || ( wget -O llvm10.tar.xz "https://github.com/llvm/llvm-project/releases/download/llvmorg-10.0.0/clang+llvm-10.0.0-x86_64-linux-gnu-ubuntu-18.04.tar.xz" && mkdir -p "$LLVM10" && tar xf llvm10.tar.xz -C "$LLVM10" --strip-components 1 )
      env:
        - LLVM10=$HOME/LLVM10
        - LD_LIBRARY_PATH=$LLVM10/lib:$LD_LIBRARY_PATH
        - LD_PRELOAD=/lib/x86_64-linux-gnu/libSegFault.so
        - SEGFAULT_SIGNALS=all
        - DT_HARNESS=Travis
        - CXX=$LLVM10/bin/clang-10

    - name: "Python 3.8 on macOS arm64"
      python: 3.8
      os: osx
      arch: arm64
      compiler: gcc
      env:
        - DT_HARNESS=Travis

cache:
  pip: true
  ccache: true
  directories:
    - $LLVM7
    - $LLVM10

git:
  depth: false

install:
  - pip install --upgrade pip

script:
  - python ci/ext.py wheel
  - pip install --upgrade dist/*.whl
  - pip install -r requirements_tests.txt
  - pip install -r requirements_docs.txt
  - pip install -r requirements_extra.txt
  - python -m pytest -ra --showlocals -Werror tests


