dist: bionic
language: python

jobs:
  include:
    - name: "Python 3.5 on Linux with LLVM7"
      python: 3.5
      before_install:
        - ( test -d "$LLVM7" && test "$(ls -A $LLVM7)") || ( wget -O llvm7.tar.xz "http://releases.llvm.org/7.0.1/clang+llvm-7.0.1-x86_64-linux-gnu-ubuntu-16.04.tar.xz" && mkdir -p "$LLVM7" && tar xf llvm7.tar.xz -C "$LLVM7" --strip-components 1 )
      env:
        - LLVM7=$HOME/LLVM7
        - LD_LIBRARY_PATH=$LLVM7/lib:$LD_LIBRARY_PATH
        - CXX=$LLVM7/bin/clang

    - name: "Python 3.6 on Linux with LLVM7"
      python: 3.6
      before_install:
        - ( test -d "$LLVM7" && test "$(ls -A $LLVM7)") || ( wget -O llvm7.tar.xz "http://releases.llvm.org/7.0.1/clang+llvm-7.0.1-x86_64-linux-gnu-ubuntu-16.04.tar.xz" && mkdir -p "$LLVM7" && tar xf llvm7.tar.xz -C "$LLVM7" --strip-components 1 )
      env:
        - LLVM7=$HOME/LLVM7
        - LD_LIBRARY_PATH=$LLVM7/lib:$LD_LIBRARY_PATH
        - CXX=$LLVM7/bin/clang

    - name: "Python 3.6 on Linux with LLVM10"
      python: 3.6
      before_install:
        - ( test -d "$LLVM10" && test "$(ls -A $LLVM10)") || ( wget -O llvm10.tar.xz "https://github.com/llvm/llvm-project/releases/download/llvmorg-10.0.0/clang+llvm-10.0.0-x86_64-linux-gnu-ubuntu-18.04.tar.xz" && mkdir -p "$LLVM10" && tar xf llvm10.tar.xz -C "$LLVM10" --strip-components 1 )
      env:
        - LLVM10=$HOME/LLVM10
        - LD_LIBRARY_PATH=$LLVM10/lib:$LD_LIBRARY_PATH
        - CXX=$LLVM10/bin/clang

cache:
  pip: true
  ccache: true
  directories:
    - $LLVM7
    - $LLVM10

git:
  depth: false

script:
  - pip install --upgrade pip
  - python ci/ext.py wheel
  - pip install --upgrade dist/*.whl
  - pip install -r requirements_tests.txt
  - pip install -r requirements_extra.txt
  - python -m pytest -ra --showlocals -Werror tests

