dist: xenial
sudo: true

language: python

compiler:
  - gcc

before_install:
  - ( test -d "$LLVM7" && test "$(ls -A $LLVM7)") || ( wget -O llvm7.tar.xz "http://releases.llvm.org/7.0.1/clang+llvm-7.0.1-x86_64-linux-gnu-ubuntu-16.04.tar.xz" && mkdir -p "$LLVM7" && tar xf llvm7.tar.xz -C "$LLVM7" --strip-components 1 )

env:
  global:
    - TRAVIS=1
    - LLVM7=$HOME/LLVM7
    - LLVM_CONFIG=$LLVM7/bin/llvm-config
    - CLANG=$LLVM7/bin/clang
    - LD_LIBRARY_PATH=$LLVM7/lib:$LD_LIBRARY_PATH

cache:
  pip: true
  ccache: true
  directories:
    - $LLVM7

python:
  - "3.5"
  - "3.6"

script:
  - make test_install
  - make extra_install
  - make build
  - make test

git:
  depth: 2

