dist: xenial
sudo: true

language: python

compiler:
  - gcc

before_install:
  - ( test -d "$LLVM4" && test "$(ls -A $LLVM4)") || ( wget -O llvm4.tar.xz "http://releases.llvm.org/4.0.0/clang+llvm-4.0.0-x86_64-linux-gnu-ubuntu-16.04.tar.xz" && mkdir -p "$LLVM4" && tar xf llvm4.tar.xz -C "$LLVM4" --strip-components 1 )
  - sudo cp $LLVM4/lib/libomp.so /usr/lib
  - ci/install-capnproto.sh

env:
  global:
  - LLVM4=$HOME/LLVM4 LLVM_CONFIG=$LLVM4/bin/llvm-config CLANG=$LLVM4/bin/clang LD_LIBRARY_PATH=$LLVM4/lib:$LD_LIBRARY_PATH

cache:
  pip: true
  ccache: true
  directories:
      - $LLVM4

python:
  - "3.5"
  - "3.6"

install:
  - pip install --upgrade setuptools
  - pip install --upgrade python-dateutil
  - pip install --upgrade numpy
  - pip install --upgrade colorama
  - pip install --upgrade typesentry
  - pip install --upgrade blessed
  - pip install --upgrade llvmlite
  - pip install --upgrade pandas
  - pip install --upgrade pytest
  - pip install --upgrade virtualenv
  - pip install --upgrade wheel

script:
  - make test_install
  - make

git:
  depth: 2

