version: 0.10.{build}
image: Visual Studio 2019

branches:
  only:
    - master

pull_requests:
  do_not_increment_build_number: true

build_script:
- cmd: >-

    SET PATH=C:\Python35-x64;C:\Python35-x64\Scripts;%PATH%

    python ci\ext.py wheel

    FOR %%i in (%APPVEYOR_BUILD_FOLDER%\dist\*-cp35-*.whl) DO pip install %i

    pip install pytest docutils pandas

    pytest .\tests\



    SET PATH=C:\Python36-x64;C:\Python36-x64\Scripts;%PATH%

    python ci\ext.py wheel

    FOR %%i in (%APPVEYOR_BUILD_FOLDER%\dist\*-cp36-*.whl) DO pip install %i

    pip install pytest docutils pandas

    pytest .\tests\



    SET PATH=C:\Python37-x64;C:\Python37-x64\Scripts;%PATH%

    python ci\ext.py wheel

    FOR %%i in (%APPVEYOR_BUILD_FOLDER%\dist\*-cp37-*.whl) DO pip install %i

    pip install pytest docutils pandas

    pytest .\tests\



    SET PATH=C:\Python38-x64;C:\Python38-x64\Scripts;%PATH%

    python ci\ext.py wheel

    FOR %%i in (%APPVEYOR_BUILD_FOLDER%\dist\*-cp38-*.whl) DO pip install %i

    pip install pytest docutils pandas

    pytest .\tests\


