version: 0.10.{build}
image: Visual Studio 2019

branches:
  only:
    - master

pull_requests:
  do_not_increment_build_number: true

artifacts:
  - path: dist\*.whl

build_script:

- cmd: >-
    rem Set up DT_* environment variables

    rem =======================================================================

    SET DT_HARNESS = AppVeyor


    FOR /f %%i in ('git rev-list --count master') DO SET MASTER_BUILD_ID=%%i

    rem AppVeyor does an additional merge commit, that we don't need to take into account

    FOR /f %%i in ('git rev-list --count master..') DO SET /a "BRANCH_BUILD_ID=%%i-1"


    echo APPVEYOR_REPO_BRANCH = %APPVEYOR_REPO_BRANCH%

    echo APPVEYOR_PULL_REQUEST_HEAD_REPO_BRANCH = %APPVEYOR_PULL_REQUEST_HEAD_REPO_BRANCH%

    echo APPVEYOR_PULL_REQUEST_NUMBER = %APPVEYOR_PULL_REQUEST_NUMBER%

    echo MASTER_BUILD_ID = %MASTER_BUILD_ID%

    echo BRANCH_BUILD_ID = %BRANCH_BUILD_ID%

- ps:

    if ($env:APPVEYOR_PULL_REQUEST_NUMBER -neq $null) {
      $env:DT_BUILD_SUFFIX="PR$env:APPVEYOR_PULL_REQUEST_NUMBER$env:BRANCH_BUILD_ID"
    } elseif ($env:APPVEYOR_REPO_BRANCH -eq "master") {
      $env:DT_BUILD_NUMBER=$env:MASTER_BUILD_ID
    } elseif ($env:APPVEYOR_REPO_BRANCH -match "^rel-") {
      $env:DT_RELEASE="True"
    } else {
      $env:DT_BUILD_SUFFIX="$env:APPVEYOR_REPO_BRANCH$env:BRANCH_BUILD_ID"
    }

- cmd: >-

    echo DT_RELEASE      = %DT_RELEASE%

    echo DT_BUILD_NUMBER = %DT_BUILD_NUMBER%

    echo DT_BUILD_SUFFIX = %DT_BUILD_SUFFIX%


    rem Python 3.5

    rem =======================================================================

    SET PATH=C:\Python35-x64;C:\Python35-x64\Scripts;%PATH%

    python ci\ext.py wheel

    FOR %%i in (dist\*-cp35-*.whl) DO pip install %%i

    pip install pytest docutils pandas

    pytest .\tests\



    rem Python 3.6

    rem =======================================================================

    SET PATH=C:\Python36-x64;C:\Python36-x64\Scripts;%PATH%

    python ci\ext.py wheel

    FOR %%i in (dist\*-cp36-*.whl) DO pip install %%i

    pip install pytest docutils pandas

    pytest .\tests\



    rem Python 3.7

    rem =======================================================================

    SET PATH=C:\Python37-x64;C:\Python37-x64\Scripts;%PATH%

    python ci\ext.py wheel

    FOR %%i in (dist\*-cp37-*.whl) DO pip install %%i

    pip install pytest docutils pandas

    pytest .\tests\



    rem Python 3.8

    rem =======================================================================

    SET PATH=C:\Python38-x64;C:\Python38-x64\Scripts;%PATH%

    python ci\ext.py wheel

    FOR %%i in (dist\*-cp38-*.whl) DO pip install %%i

    pip install pytest docutils pandas

    pytest .\tests\


