image: Visual Studio 2017
build: false

init: call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" x86_amd64


install:
  - choco install mingw
  - choco install llvm
  - choco install make -y
  - "%PYTHON%/Scripts/pip.exe install setuptools"
  - "%PYTHON%/Scripts/pip.exe install python-dateutil"
  - "%PYTHON%/Scripts/pip.exe install numpy"
  - "%PYTHON%/Scripts/pip.exe install colorama"
  - "%PYTHON%/Scripts/pip.exe install typesentry"
  - "%PYTHON%/Scripts/pip.exe install blessed"
  - "%PYTHON%/Scripts/pip.exe install llvmlite"
  - "%PYTHON%/Scripts/pip.exe install pandas"
  - "%PYTHON%/Scripts/pip.exe install pytest"
  - "%PYTHON%/Scripts/pip.exe install virtualenv"
  - "%PYTHON%/Scripts/pip.exe install wheel"

skip_branch_with_pr: true

environment:
  global:
    GCC_PATH: mingw_64
  LLVM6: C:\\Program Files\\LLVM
  PATH: "%LLVM6%/bin;%PATH%"
  APPVEYOR_SAVE_CACHE_ON_ERROR: true

  matrix:
    - platform: x64
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      PYTHON: "C:\\Python35"
      PYTHON_VERSION: "3.5"
      PYTHON_ARCH: "64"
      DISTRIBUTIONS: "sdist bdist_wheel"

    - platform: x64
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      PYTHON: "C:\\Python36"
      PYTHON_VERSION: "3.6"
      PYTHON_ARCH: "64"
      DISTRIBUTIONS: "sdist bdist_wheel"

before_build:
  - "ECHO %PYTHON% %PYTHON_VERSION% %PYTHON_ARCH%"
  - "ECHO %LLVM6%"


cache:
  - /ProgramData/chocolatey/bin -> appveyor.yml
  - /ProgramData/chocolatey/lib -> appveyor.yml
  - '%LOCALAPPDATA%/pip/Cache'

test_script:
  # Apparently, 'dir' does not understand forward-slash paths...
  # - dir C:\ProgramData\chocolatey\lib\make\tools\bin\
  # - dir "C:\Program Files\"
  #- DIR /S "C:\tools\mingw64"
  - "ECHO %PYTHON% %PYTHON_VERSION% %PYTHON_ARCH%"
  - "ECHO %LLVM6%"
  - SET
  - copy "C:\tools\mingw64\x86_64-w64-mingw32\lib\libgomp-1.dll" "C:\Program Files\LLVM\lib\"
  - "%PYTHON%/python.exe -m pip install .[testing] --no-cache-dir"
  - /ProgramData/chocolatey/lib/make/tools/bin/make.exe PYTHON=%PYTHON%/python.exe

artifacts:
  - path: dist/*
