image:
  - Ubuntu
  # - Visual Studio 2019
  # - macOS

init:
  # Uncomment the line below to enable RDP access
  # - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

branches:
  only:
    - main
    - /^rel\-*/

pull_requests:
  do_not_increment_build_number: true

artifacts:
  - path: dist/*.whl

APPVEYOR_YML_DISABLE_PS_LINUX: true

build_script:

- sh:

    source $HOME/venv3.6/bin/activate

    python -V


- ps: >-

    # Set up required variables

    # =======================================================================

    $env:DT_HARNESS = "AppVeyor"

    $DEFAULT_PATH = $env:PATH

    $MAIN_BUILD_ID = git rev-list --count main


    # Do not take into account the AppVeyor's additional merge commit

    $BRANCH_BUILD_ID = (git rev-list --count main) - 1

    if ($env:APPVEYOR_PULL_REQUEST_NUMBER -ne $null) {
      if ($env:APPVEYOR_PULL_REQUEST_HEAD_REPO_BRANCH -match "^rel\-") {
        $env:DT_RELEASE = "True"
      } else {
        $env:DT_BUILD_SUFFIX = "PR$env:APPVEYOR_PULL_REQUEST_NUMBER.$BRANCH_BUILD_ID"
      }
    }
    elseif ($env:APPVEYOR_REPO_BRANCH -eq "main") {
      $env:DT_BUILD_NUMBER = $MAIN_BUILD_ID
    }
    elseif ($env:APPVEYOR_REPO_BRANCH -match "^rel\-") {
      $env:DT_RELEASE = "True"
    }
    else {
      $env:DT_BUILD_SUFFIX = "$env:APPVEYOR_REPO_BRANCH.$BRANCH_BUILD_ID"
    }


    # Print out variable's content

    # =======================================================================

    echo "DEFAULT_PATH = $DEFAULT_PATH"

    echo "APPVEYOR_REPO_BRANCH = $env:APPVEYOR_REPO_BRANCH"

    echo "APPVEYOR_PULL_REQUEST_HEAD_REPO_BRANCH = $env:APPVEYOR_PULL_REQUEST_HEAD_REPO_BRANCH"

    echo "APPVEYOR_PULL_REQUEST_NUMBER = $env:APPVEYOR_PULL_REQUEST_NUMBER"

    echo "MAIN_BUILD_ID = $MAIN_BUILD_ID"

    echo "BRANCH_BUILD_ID = $BRANCH_BUILD_ID"

    echo "DT_RELEASE = $env:DT_RELEASE"

    echo "DT_BUILD_NUMBER = $env:DT_BUILD_NUMBER"

    echo "DT_BUILD_SUFFIX = $env:DT_BUILD_SUFFIX"


    # Build and test wheel for Python 3.6

    # =======================================================================

    $env:PATH = "C:\Python36-x64;C:\Python36-x64\Scripts;$DEFAULT_PATH"

    python ci/ext.py wheel

    $datatable_wheel = ls dist/*-cp36-*.whl

    echo "----- build_info 3.6 ---------------------------------------------"

    cat src/datatable/_build_info.py

    echo "------------------------------------------------------------------"

    pip --disable-pip-version-check install $datatable_wheel pytest docutils pandas

    pytest -ra --maxfail=10 -Werror -vv --showlocals ./tests/



    # Build and test wheel for Python 3.7

    # =======================================================================

    $env:PATH = "C:\Python37-x64;C:\Python37-x64\Scripts;$DEFAULT_PATH"

    python ci/ext.py wheel

    $datatable_wheel = ls dist/*-cp37-*.whl

    echo "----- build_info 3.7 ---------------------------------------------"

    cat src/datatable/_build_info.py

    echo "------------------------------------------------------------------"

    pip --disable-pip-version-check install $datatable_wheel pytest docutils pandas

    pytest -ra --maxfail=10 -Werror -vv --showlocals ./tests/



    # Build and test wheel for Python 3.8

    # =======================================================================

    $env:PATH = "C:\Python38-x64;C:\Python38-x64\Scripts;$DEFAULT_PATH"

    python ci/ext.py wheel

    $datatable_wheel = ls dist/*-cp38-*.whl

    echo "----- build_info 3.8 ---------------------------------------------"

    cat src/datatable/_build_info.py

    echo "------------------------------------------------------------------"

    pip --disable-pip-version-check install $datatable_wheel pytest docutils pandas

    pytest -ra --maxfail=10 -Werror -vv --showlocals ./tests/
