version: 1.0.{build}
image: Visual Studio 2019

branches:
  only:
    - main

pull_requests:
  do_not_increment_build_number: true

artifacts:
  - path: dist\*.whl

build_script:

- ps: >-

    # Set up required variables

    # =======================================================================

    $env:DT_HARNESS = "AppVeyor"

    $DEFAULT_PATH = $env:PATH

    $MAIN_BUILD_ID = git rev-list --count main


    # Do not take into account the AppVeyor's additional merge commit

    $BRANCH_BUILD_ID = (git rev-list --count main..) - 1

    if ($env:APPVEYOR_PULL_REQUEST_HEAD_REPO_BRANCH -match "^rel-") {
      $env:DT_RELEASE = "True"
    } elseif ($env:APPVEYOR_PULL_REQUEST_NUMBER -ne $null) {
      $env:DT_BUILD_SUFFIX = "PR$env:APPVEYOR_PULL_REQUEST_NUMBER.$BRANCH_BUILD_ID"
    } elseif ($env:APPVEYOR_REPO_BRANCH -eq "main") {
      $env:DT_BUILD_NUMBER = $MAIN_BUILD_ID
    } else {
      $env:DT_BUILD_SUFFIX = "$env:APPVEYOR_REPO_BRANCH.$BRANCH_BUILD_ID"
    }

    # Print out variable's content

    # =======================================================================

    echo "DEFAULT_PATH = $DEFAULT_PATH"

    echo "APPVEYOR_REPO_BRANCH = $APPVEYOR_REPO_BRANCH"

    echo "APPVEYOR_PULL_REQUEST_HEAD_REPO_BRANCH = $APPVEYOR_PULL_REQUEST_HEAD_REPO_BRANCH"

    echo "APPVEYOR_PULL_REQUEST_NUMBER = $APPVEYOR_PULL_REQUEST_NUMBER"

    echo "MAIN_BUILD_ID = $MAIN_BUILD_ID"

    echo "BRANCH_BUILD_ID = $BRANCH_BUILD_ID"

    echo "DT_RELEASE = $env:DT_RELEASE"

    echo "DT_BUILD_NUMBER = $env:DT_BUILD_NUMBER"

    echo "DT_BUILD_SUFFIX = $env:DT_BUILD_SUFFIX"



    # Build and test wheel for Python 3.5

    # =======================================================================

    $env:PATH = "C:\Python35-x64;C:\Python35-x64\Scripts;$DEFAULT_PATH"

    python ci\ext.py wheel

    $wheel = ls dist\*-cp35-*.whl

    pip install $wheel pytest docutils pandas

    pytest .\tests\



    # Build and test wheel for Python 3.6

    # =======================================================================

    $env:PATH = "C:\Python36-x64;C:\Python36-x64\Scripts;$DEFAULT_PATH"

    python ci\ext.py wheel

    $wheel = ls dist\*-cp36-*.whl

    pip install $wheel pytest docutils pandas

    pytest .\tests\



    # Build and test wheel for Python 3.7

    # =======================================================================

    $env:PATH = "C:\Python37-x64;C:\Python37-x64\Scripts;$DEFAULT_PATH"

    python ci\ext.py wheel

    $wheel = ls dist\*-cp37-*.whl

    pip install $wheel pytest docutils pandas

    pytest .\tests\



    # Build and test wheel for Python 3.8

    # =======================================================================

    $env:PATH = "C:\Python38-x64;C:\Python38-x64\Scripts;$DEFAULT_PATH"

    python ci\ext.py wheel

    $wheel = ls dist\*-cp38-*.whl

    pip install $wheel pytest docutils pandas

    pytest .\tests\
