include LICENSE
include README.md
include CHANGELOG.md
include setup.py
include setup.cfg
include ci/setup_utils.py
recursive-include c         *.cc *.h
recursive-include datatable *.py *.h
recursive-include tests     *.py

exclude datatable/lib/*.*
include datatable/lib/__init__.py
