

/*----- :issue: role --------------------------*/

.changelog span.issue {
    font-size: 65%;
    position: relative;
    top: -6px;
}

.changelog span.issue:before {
    content: "[";
}

.changelog span.issue:after {
    content: "]";
}

.changelog span.issue a:after {
    display: none;
}

.changelog span.issue a:visited {
    color: #B2A7C3;
}

.changelog span.issue a:hover {
    opacity: 0.6;
}


/*----- list of changelog items ---------------*/

.changelog ul.changelog-list {

}

.changelog ul.changelog-list li.changelog-list-item {
    background: 0 5px no-repeat;
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 18px;
    padding: 0 0 0 34px;
    position: relative;
}

.changelog ul.changelog-list li.changelog-list-item.api {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 -2 40 22' width='25' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='20' fill='%23000' rx='3'/%3E%3Ctext x='50%25' y='50%25' fill='%23fff' style='font:16px sans-serif' dominant-baseline='middle' text-anchor='middle'%3Eapi%3C/text%3E%3C/svg%3E");
}

.changelog ul.changelog-list li.changelog-list-item.enh {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 -2 40 22' width='25' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='20' fill='%2308b' rx='3'/%3E%3Ctext x='50%25' y='50%25' fill='%23fff' style='font:16px sans-serif' dominant-baseline='middle' text-anchor='middle'%3Eenh%3C/text%3E%3C/svg%3E");
}

.changelog ul.changelog-list li.changelog-list-item.fix {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 -2 40 22' width='25' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='20' fill='%23b00' rx='3'/%3E%3Ctext x='50%25' y='50%25' fill='%23fff' style='font:16px sans-serif' dominant-baseline='middle' text-anchor='middle'%3Efix%3C/text%3E%3C/svg%3E");
}

.changelog ul.changelog-list li.changelog-list-item.new {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 -2 40 22' width='25' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='20' fill='%23080' rx='3'/%3E%3Ctext x='50%25' y='50%25' fill='%23fff' style='font:16px sans-serif' dominant-baseline='middle' text-anchor='middle'%3Enew%3C/text%3E%3C/svg%3E");
}

.changelog ul.changelog-list li.changelog-list-item.old {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 -2 40 22' width='25' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='20' fill='%23975' rx='3'/%3E%3Ctext x='50%25' y='50%25' fill='%23fff' style='font:16px sans-serif' dominant-baseline='middle' text-anchor='middle'%3Eold%3C/text%3E%3C/svg%3E");
}

.changelog ul.changelog-list li.changelog-list-item.note {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 -2 40 22' width='25' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='20' fill='%23aaa' rx='3'/%3E%3Ctext x='50%25' y='50%25' fill='%23fff' style='font:16px sans-serif' dominant-baseline='middle' text-anchor='middle'%3Enote%3C/text%3E%3C/svg%3E");
}

.changelog ul.changelog-list li.changelog-list-item.gh {
    background-image: none;
    margin-bottom: 0;
}

.changelog ul.changelog-list li.changelog-list-item.gh:before {
    color: #2f43bb;
    content: "\f09b";
    font-family: FontAwesome;
    left: 10px;
    position: absolute;
    top: 3px;
}

.changelog ul.changelog-list li.changelog-list-item.gh.old:before {
    color: #f1b038;
}

.changelog ul.changelog-list li.changelog-list-item.gh.new:before {
    color: #11b526;
}


/*----- infobox -------------------------------*/

.changelog table.infobox {
    background: #fafafa;
    border: 1px solid #ccc;
    border-spacing: 2px;
    border-collapse: separate;
    clear: right;
    float: right;
    font-size: 80%;
    margin: 0 0 12pt 12pt;
    position: relative;
    width: 16em;
    z-index: 10;
}

.changelog table.infobox tr.title {
    background: #b9ccf7;
}

.changelog table.infobox tr.title th {
    padding: 2px;
    text-align: center;
}

.changelog table.infobox th {
    text-align: left;
}
