
body {
  counter-reset: cc;
}

#first-section { display: flex; }

#first-section .part1 { padding-right: 32pt; }
#first-section .part2 { flex-grow: 1; }
#first-section #dt-logo { width: 100px; }

#first-section .chyron { margin: 12pt 0 0 0; }

div.main-toc {
  display: flex;
  margin: 8pt 0 30pt 0;
}

div.large-links {
  flex-grow: 2;
}

div.large-links a {
  display: block;
  font-size: 150%;
  margin: 5pt 24pt 0 16pt;
  padding: 5pt 10pt;
}

div.large-links a:hover {
  background-color: #E9EEF5;
}

div.large-links a i.fa {
  font-size: 80%;
  position: relative;
  top: -1pt;
  left: -3pt;
}

div.small-links {
  flex-grow: 1;
  padding-top: 16pt;
}

div.small-links div {
  padding: 3pt 0;
}

.rst-content code.literal {
  background: none;
  border-style: none;
  color: #a3b2c5;
  font-size: 90%;
  padding: 0;
}

.rst-content.style-external-links a.reference.external.image-reference::after {
  content: '';
}

.rst-content.style-external-links a.reference.external:after {
  position: relative;
  top: -.5em;
  vertical-align: inherit;
}


/* ------- All code highlighting -------------------------------------------- */

div.document p + div.notranslate {
  margin-top: -12px;
}



/* ------- Shell code highlighting ------------------------------------------ */

div.document div.notranslate.highlight-bash {
  border-style: none;
}

div.document div.notranslate.highlight-bash .highlight {
  background-color: #444;
  color: #CCC;
}



/* ------- Python code highlighting ----------------------------------------- */

div.document div.notranslate.highlight-default {
  border: none;
  counter-increment: cc;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0 0 24px 0;
}

div.document div.notranslate.highlight-default + div.output-cell {
  margin-top: -16px;
}

div.document div.notranslate.highlight-default:before {
  color: #A6D2BB;
  content: "[" counter(cc) "]:";
  flex: 0 0 48px;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  font-size: 80%;
  line-height: 24px;
  padding: 0.2em 0.4em;
  text-align: right;
}

div.document div.notranslate.highlight-default div.highlight {
  background: #F5F5F5;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  flex: 1 1 auto;
}

div.document div.notranslate.highlight-default div.highlight pre {
  padding: .5em 1em;
}


/* ------- Output highlighting ---------------------------------------------- */

div.document div.output-cell {
  border: none;
  display: flex;
  flex-direction: row;
  margin: 0 0 24px 0;
}

div.document div.output-cell:before {
  color: #D9B1B2;
  content: "[" counter(cc) "]:";
  flex: 0 0 48px;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  font-size: 80%;
  padding: .385em;
  text-align: right;
}

div.document div.output-cell .highlight {
  background: none;
  border: none;
}

div.document div.output-cell .highlight pre {
  padding: 4pt 10pt;
}




/* ------- See also blocks -------------------------------------------------- */

.admonition.seealso {
  align-items: baseline;
  background: inherit;
  display: flex;
  font-size: 85%;
  font-style: italic;
  margin: -9pt 0 9pt 30pt;
  padding: 0;
}

.admonition.seealso p.first.admonition-title {
  background: inherit;
  color: #AAA;
  display: block;
  font-weight: normal;
  margin: 0pt 3pt 0 0;
  padding: 0;
}

.admonition.seealso p.last {
  font-size: inherit;
}

.admonition.seealso p.first.admonition-title:before {
  content: "";
}

.admonition.seealso p.first.admonition-title:after {
  content: ":";
}



/* ------- Miscellaneous ---------------------------------------------------- */

html {
  font-size: 11pt;
}

div[role=navigation] hr {
  visibility: hidden;
}

.wy-breadcrumbs {
  display: none;
}

h1 {
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  margin-top: -22pt;
}

h2 {
  font-family: inherit;
  margin-top: 24pt;
}

p {
  font-size: 100%;
  line-height: 22px;
}

p + ul.simple, p + ol.simple {
  margin-top: -12pt;
  margin-left: 12pt;
}

/* inter-paragraph distance is reduced in a ul|ol */
.rst-content .section ol p + ul.simple,
.rst-content .section ul p + ul.simple,
.rst-content .section ol p + ol.simple,
.rst-content .section ul p + ul.simple {
  margin-top: -6pt;
}

ul.simple li, ol.simple li {
  margin-bottom: 6pt;
}
