
.dt-function {
    margin-bottom: 18pt;
}

.dt-function h1 {
    display: none;
}


/*------------------------------------------------------------------------------
 * Signature block
 *-----------------------------------------------------------------------------*/

.dt-function .sig-container {
    background-color: #2b639c;
    display: flex;
    font-family: "SF Mono", Menlo, monospace;
    padding: 1pt 5pt 3pt 6pt;
}

.dt-function .sig-container a,
.dt-function .sig-container a:visited {
    color: #7dd;
    font-size: 75%;
}

.dt-function .sig-container a:hover {
    color: white;
}

.dt-function .sig-body {
    flex: 1;
}

.dt-function .code-links {
    font-size: 90%;
}

.dt-function .code-links a:after {
    content: "\f08e";
    font-family: "FontAwesome";
    font-size: 85%;
    padding-left: 3px;
    -webkit-font-smoothing: antialiased;
}


.dt-function .sig-main {
    display: flex;
}

.dt-function .sig-main .sig-name {
    color: #ffe810;
    font-weight: bold;
}

.dt-function .sig-main .sig-open-paren:before {
    color: #79d;
    content: "(";
}

.dt-function .sig-main .sig-close-paren {
    display: inline-block;
}
.dt-function .sig-main .sig-close-paren:before {
    color: #79d;
    content: ")";
}


.dt-function .sig-parameters {
    flex: 1;
}
.dt-function .sig-parameters .param {
    color: #dff;
    display: inline-block;
}
.dt-function .sig-parameters .param.self,
.dt-function .sig-parameters .param.special {
    color: #79d;
}
.dt-function .sig-parameters .param:not(.final):after {
    color: #68c;
    content: ",";
    padding-right: 6pt;
}
.dt-function .sig-parameters .param .default {
    color: #79d;
    display: inline;
    font-style: normal;
}
.dt-function .sig-parameters .param .default:before {
    color: #68c;
    content: "=";
    padding: 0 2pt;
}



/*------------------------------------------------------------------------------
 * Main function block
 *-----------------------------------------------------------------------------*/

.dt-function .dt-function-body {
    margin: 8pt 0 0 16pt;
}

.dt-function .dt-function-body p {
    margin: 0 0 16px 0;
    text-align: justify;
}

.dt-function .dt-function-body h2 {
    font-size: 130%;
}


/*------------------------------------------------------------------------------
 * xparam
 *-----------------------------------------------------------------------------*/

.xparam-box {}

.xparam-head {
    display: flex;
}

.xparam-head .param {
    background-color: #2a629c;
    border-radius: 3px;
    color: #d7ffff;
    display: inline-block;
    font-family: "SF Mono", Menlo, monospace;
    padding: 1px 4px;
}

.xparam-head .types {
    margin-left: 10px;
}

.xparam-body {
    margin-left: 24pt;
}
