
.x-function {
    margin-bottom: 32pt;
}

.x-function + .x-function {
    /*margin-top: -28pt;*/
}


/*------------------------------------------------------------------------------
 * Signature block
 *-----------------------------------------------------------------------------*/

.x-function .sig-container {
    background-color: #2b639c;
    border-radius: 3px;
    display: flex;
    line-height: 16px;
    margin-bottom: 3pt;
    padding: 5pt 5pt 5pt 7pt;
    white-space: pre-wrap;
}

.x-function.xclass .sig-container {
    background-color: #300c75;
}

.x-function .sig-container .sig-qualifier a,
.x-function .sig-container .sig-qualifier a:visited,
.x-function .sig-container .code-links a,
.x-function .sig-container .code-links a:visited {
    color: #8da4d2;
}

.x-function .sig-container .sig-qualifier a:hover,
.x-function .sig-container .code-links a:hover {
    color: white;
}

.x-function .sig-body {
    flex: 1;
    font-family: "SF Mono", Menlo, monospace;
    font-size: 88%;
}

.x-function .code-links {
    font-size: 75%;
    margin-top: -3pt;
}

.x-function .code-links a {
    display: block;
    line-height: 12px;
}

.x-function .code-links a:after {
    content: "\f08e";
    font-family: "FontAwesome";
    font-size: 70%;
    padding-left: 3px;
    position: relative;
    top: -2px;
    -webkit-font-smoothing: antialiased;
}


.x-function .sig-main {
    color: #8da4d2;
    display: flex;
}

.x-function .sig-main .sig-name {
    color: #ffe810;
}

.x-function .sig-parameters {
    flex: 1;
}
.x-function .sig-parameters .param {
    display: inline-block;
}
.x-function .sig-parameters .param a,
.x-function .sig-parameters .param a:visited {
    color: #dff;
}
.x-function .sig-parameters .param a:hover {
    color: #fff;
}

.x-function .sig-parameters .param .default {
    display: inline;
    font-style: normal;
}
.x-function .sig-parameters .param .default.literal {
    background: none;
    color: #8da4d2;
    font-size: inherit;
    padding: 0;
}
.x-function .sig-parameters .param.self,
.x-function .sig-parameters .param.self+.punct {
    /*display: none;*/
}

.x-function .keyword {
    color: white;
    font-weight: bold;
}


/*------------------------------------------------------------------------------
 * Main function block
 *-----------------------------------------------------------------------------*/

.x-function .x-function-body {
    margin: 8pt 0 0 0;
}


.rst-content .x-function-body dl.simple dt {
    background: none;
    border: none;
    color: #000;
    font-size: 100%;
    font-weight: normal;
    margin: 6pt 0 0 0;
    padding: 0;
}

.rst-content .x-function-body dl.simple code {
    font-weight: normal;
}

.x-function a.xparam-ref code {
    color: #5490cd;
    padding: 1px 4px;
}

.x-function a.xparam-ref:hover code {
    background: #2a629c;
    border-radius: 3px;
    color: #d7ffff;
    font-weight: normal;
}



/*------------------------------------------------------------------------------
 * xparam
 *-----------------------------------------------------------------------------*/

.xparam-box {
    margin-bottom: 16pt;
}

.xparam-box:target {
    outline: 1px dashed #ffdbae;
    outline-offset: 5px;
}

.xparam-head {
    align-items: baseline;
    background: #f5f5f5;
    color: rgba(0, 0, 0, 25%);  /* affects only the separators */
    display: flex;
    font-family: "SF Mono", Menlo, monospace;
}

.xparam-head .param {
    background-color: #2a629c;
    border-radius: 3px;
    color: #d7ffff;
    cursor: default;
    display: inline-block;
    font-size: 85%;
    padding: 3px 6px;
}

.xparam-head .param.return {
    background-color: #469e36;
    color: #FFF;
}

.xparam-head .param.except {
    background-color: #C50000;
    color: #FFF;
}

.xparam-head .sep {
    font-size: 85%;
    padding-right: 2pt;
}

.xparam-head .types {
    line-height: 14px;
    padding: 3px 10px;
}

.xparam-head .types code.literal {
    background: none;
    color: rgba(0, 0, 0, 0.35);
    padding: 0;
}

.xparam-body {
    line-height: 22px;
    margin-left: 24pt;
}
